*, html, body{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(43, 43, 43);
    font-family: cursive;
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1{
    font-size: 32px;
}

p{
    font-size: 22px;
}

a{
    font-size: 30px;
    transition: color .1s linear;
}

a:hover{
    color: rgb(202, 202, 202);
}